.resumeCol {
    position: relative;
    height: 175px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

.resumeRow {
    position: relative;
    top: 30px;
}

.btn-resume {
    position: relative;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    top: 30px;
    font-size: 24px;
    padding: 8px;
}