.aboutCol {
    position: relative;
    height: 750px;
    background-color: white;
    margin: auto;
    text-align: center;
    justify-items: center;
}

.aboutRow {
    position: relative;
    top: 50px;
}

.title {
    margin-bottom: 50px;
}

.image-about {
    margin-bottom: 50px;
    border-radius: 70px;
}

.text-about {
    max-width: 650px;
    font-size: 24px;
    margin: auto;
    margin-top: 30px;
}

.text-link {
    text-decoration: none;
    color: darkgray;
}